@keyframes scale{
	0% {transform: scale(1);}
	33%{transform: scale(.9);}
	66% {transform: scale(1.1);}
	/*75%{transform: scale(.9);}*/
	100% {transform: scale(1);}
}
body{font-family: "Marmelad" !important;}
main{margin-top:14%; height: 100%;}
#about h1{text-shadow: 2px 2px 4px #aaffaa; margin-bottom: 1%;}
#work h1{text-shadow: 2px 2px 4px black; margin-bottom: 1%;}
.work-img{flex-basis: 32%; margin-bottom: 1%;}
.chahd,.plan,.sport,.utaim,.stval{
	width: 100%; height: 100%;	
	border: solid 2px rgba(17,213,210,1.00);
}
.chahd:hover, .plan:hover,.sport:hover,.utaim:hover,.stval:hover{animation: scale .35s linear 1;}
.modal-txt{color: rgba(64,52,199,1.00);}
#about, #work, #contact{margin-bottom: 2%;}
#contact h1 {text-shadow: 2px 2px 4px rgba(157,9,120,1.00); margin-bottom: 1%;}
.contact-value{color: darkred;}
h1{font-family: "Bangers" !important;}
.about-txt{background-color: rgba(255,255,255,0.60);}
.about-parallax {
    /* The image used */
    background-image: url(images/aboutme.jpg);

    /* Set a specific height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.work-parallax {
    /* The image used */
    background-image: url(images/work.jpg);

    /* Set a specific height */
    height: 40%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
